

h1 {
    color: rgb(140, 1, 1);
    font-weight: 600;
    font-size: 60px
}

.eaten{
    float:right;
}

.uneaten{
    float:left;
}

h3 {
    color: white;
    font-size: 20px;
    font-weight: bold;
}