
body{
    background-color: rgb(19, 7, 7);
}


h2 {
    font-family: 'Roboto', sans-serif;
    color: rgb(253, 0, 0);
    text-shadow: 0 0 1px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255);
  }


.name{
    font-size: 18px;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
}

li{
    margin: 8px;
}
ul{
    list-style: none;
}


label{
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

input{
    box-shadow: 0 0 10px #9ecaed;
}

button {
    background-color: white;
    margin: 6px;
    box-shadow:
        0 0 4px 2px #fff,
        0 0 5px 3px rgb(255, 255, 255), 
        0 0 7px 5px rgb(255, 255, 255); 
}

.delete-burger{
    color:white;
    background-color: rgb(94, 0, 0);
    box-shadow:
    0 0 4px 2px rgb(94, 0, 0), 
    0 0 5px 3px rgb(94, 0, 0), 
    0 0 7px 5px rgb(94, 0, 0); 
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 15px rgb(255, 212, 70), 0 0 20px #e6bc00, 0 0 25px #e69600, 0 0 30px #d87c03, 0 0 45px #d37000, 0 0 50px #ff3c00;
    }
    
    to {
      text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 15px #ff4d4d, 0 0 20px #ff0000, 0 0 25px #ff3c00, 0 0 60px #ff3300, 0 0 30px #ff0000, 0 0 40px #af0000;
    }
  }