<li>
	

{{!-- <button class="devour btn btn-sm rounded" data-id="{{id}}" data-status="{{status}}">
		Eat it again
	</button> --}}
    <button class="delete-burger btn btn-sm rounded mx-3" data-id="{{this.id}}">{{burger_name}}</button>
    
</li>
