<li class = "list-group-item">
	{{burger_name}}

	<p class ="pt-2"><button class="devour btn btn-sm rounded border-dark"  data-id="{{id}}" data-status="{{status}}">
		Eat!
	</button>
	<button class="delete-burger btn btn-sm rounded border-dark" data-id="{{this.id}}">Delete!</button></p>
</li>
